/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------    CSS RESET ABOVE THIS LINE     ----- */
body {
    background-color: rgb(70, 70, 70);
}
h1 {
    font-family: "Dosis";
    font-style: italic;
    text-align: center;
    font-size: 40pt;
    margin-left: 0;
    margin-top: 30px;
    color: rgb(214, 216, 214);
}

/* -------------- CSS for BUTTONS HERE --------------- */
.vsQuestion {
    font-family: "Quantico";
    color: rgb(123, 187, 192);
    font-size: 20pt;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    outline: none;
    padding: 30px;
}

.buttons button {
    font-family: "Signika Negative";
    display: inline-block;
    height: 35px;
    width: auto;
    font-size: 18pt;
    border: none;
    font-style: italic;
    background-color: rgb(233, 227, 227);
}

.buttons button:hover {
    box-shadow: 0 0 30px 1px rgb(255, 255, 255);
    transform: scale(1.1);
}
.switch {
    margin: 10vh;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch:hover {
    transform: scale(1.1);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(233, 86, 86);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:not(:checked) + .slider:hover {
    box-shadow: 0 0 30px 1px rgb(250, 63, 63);
}

input:checked + .slider {
    background-color: rgb(93, 238, 124);
}

input:checked + .slider:hover {
    box-shadow: 0 0 30px 1px rgb(93, 238, 124);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -50px auto;
    padding-right: 30px;
}

.switchText {
    font-family: "Quantico";
    color: rgb(182, 181, 181);
    font-size: 20pt;
}

/* ----------- CSS for GAME CONTAINER HERE --------- */
.gameContainer {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    width: 100%;
    height: 50%;
    margin-top: 50px;
    justify-content: center;
    grid-gap: 5px;
}

.square {
    display: flex;
    justify-content: center;
    font-family: "Signika Negative";
    font-size: 25pt;
    align-items: center;
    flex-direction: column;
    outline: none;
    width: 100%;
    height: 100%;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: white;
    background: linear-gradient(
            135deg,
            rgb(217, 255, 0),
            rgb(174, 0, 255),
            rgb(0, 238, 255)
        )
        fixed;
    border: none;
}

.squareActive {
    display: flex;
    justify-content: center;
    font-family: "Signika Negative";
    font-size: 25pt;
    align-items: center;
    flex-direction: column;
    outline: none;
    width: 100%;
    height: 100%;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: white;
    border: none;
    background: linear-gradient(135deg, #c600f8, #c9895f, #fff27b) fixed;
}

.squareActive:hover {
    transform: scale(1.05);
}

.sqaureGameOver {
    display: flex;
    justify-content: center;
    font-family: "Signika Negative";
    font-size: 25pt;
    align-items: center;
    flex-direction: column;
    outline: none;
    width: 100%;
    height: 100%;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: white;
    border: none;
    background: linear-gradient(135deg, #00f867, #5fb0c9, #f3185a) fixed;
}

/* ----------- CSS for GAME CONTAINER HERE --------- */

#gameOver {
    display: none;
    padding: 20px;
    font-family: "Quantico";
    color: rgb(207, 207, 207);
    font-size: 40pt;
    text-align: center;
}
